.wrapperList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 0 auto;
}

@media (max-width: 640px) {
  .card {
    max-width: none;
    width: 100%;
  }
}
