.table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border: 1px solid #dcdcdc;
}

.tHead {
  color: #191970;
}

.th {
  padding: 6px 24px;
  border-bottom: 2px solid #191970;
  &:not(:last-child) {
    border-right: 1px solid #dcdcdc;
  }
}

.td {
  padding: 6px 24px;
  border-bottom: 1px solid #dcdcdc;
  &:not(:last-child) {
    border-right: 1px solid #dcdcdc;
  }
  &:nth-child(odd) {
    background-color: lavenderblush;
  }
}
