.subjectTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #add8e6;
  border-bottom: 1px solid #6495ed;
  border-radius: 4px;
  h4 {
    margin-left: 5px;
  }
}
